<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <div class="container form-detail">
        <div>
            <table class="table table-sm text-center">
                <thead>
                <tr>
                    <div class="d-flex flex-row-reverse mx-auto p-2">
                        <a class="btn btn-primary btn-sm" role="button"
                           href="/any/posts/"> 목록 </a>
                        <a class="btn btn-primary btn-sm ms-2 me-2" role="button"
                           th:if="${session.user.nickname == post.writer}"
                           th:href="'/any/posts/delete/'+${post.id}">삭제</a>
                        <a class="btn btn-primary btn-sm" role="button"
                           th:if="${session.user.nickname == post.writer}"
                           th:href="'/any/posts/modify/'+${post.id}">수정</a>
                    </div>
                </tr>
                <tr class="table-primary">
                    <th colspan="2">글 읽기</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>번호</th>
                    <td th:text="${post.id}"></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td th:text="${post.writer}"></td>
                </tr>
                <tr>
                    <th>조회수</th>
                    <td th:text="${post.view}"></td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td th:text="${post.title}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex flex-column text-center">
            <label>본문 내용</label>
            <textarea class="form-control"
                      style="height: 100px"
                      th:text="${post.content}" readonly/>
        </div>


        <div class="rounded-3 shadow-sm"
                th:if="${commentList != null}" th:each="comment :${commentList}">
            <div class="d-flex">
                <label th:text="${comment.nickname}+'     ('+${comment.createdDate}+')'"></label>
                <a class="btn btn-primary btn-sm" role="button"
                   th:if="${session.user.nickname == comment.nickname}"
                   th:href="'/any/posts/comment/delete/'+${post.id}+'/'+${comment.id}">삭제</a></div>
            <div><p class="lh-sm text-gray-dark" th:text="${comment.comment}"></p></div>
        </div>

        <form action="/any/posts/comment/" method="post">
            <input type="hidden" id="postId" name="postId" th:value="${post.id}">
            <div class="p-3">
                <div>
                    <textarea class="w-100" id="comment" name="comment" placeholder="댓글을 입력하세요"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-sm" type="submit">댓글등록</button>
                </div>
            </div>
        </form>
    </div>
</th:block>
</html>