<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <div class="container form-update border border-info">
        <form action="/any/posts/update" method="post">
            <div>
                <table class="table table-sm text-center">
                    <thead>
                    <tr class="table-info">
                        <th colspan="2">글 수정</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>번호</th>
                        <td th:text="${post.id}"></td>
                        <input type="hidden" id="id" name="id" th:value="${post.id}"/>
                    </tr>
                    <tr>
                        <th>작성자</th>
                        <td th:text="${post.writer}"></td>
                    </tr>
                    <tr>
                        <th>조회수</th>
                        <td th:text="${post.view}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-floating">
                <input class="form-control" type="textTitle" id="title" name="title">
                <label for="title">제목을 입력하세요</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" type="textareaContent"
                          id="content" name="content"></textarea>
                <label for="content">내용을 입력하세요</label>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary btn-sm" type="submit">수정</button>
                <a class="btn btn-primary btn-sm ms-2" href="/any/posts/" role="button"> 목록 </a>
            </div>
            </tr>
        </form>
    </div>
</th:block>
</html>