<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <div class="container form-write">
        <form action="/any/posts/create" method="post">

            <div>
                <table class="table table-sm text-center">
                    <thead>
                    <tr class="table-secondary">
                        <th style="border-bottom-color:currentColor;">글 쓰기</th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="form-floating">
                <input type="hidden" id="writer" name="writer" th:value="${session.user.nickname}">
                <input class="form-control" type="textTitle" id="title" name="title">
                <label for="title">제목</label>
            </div>


            <div class="form-floating">
                <textarea class="form-control" type="textareaContent"
                          id="content" name="content"></textarea>
                <label for="content">내용을 입력하세요</label>
            </div>


            <div class="d-flex justify-content-end">
                <button class="btn btn-primary btn-sm" type="submit"> 작성</button>
                <a class="btn btn-primary btn-sm ms-2" href="/any/posts/" role="button"> 목록 </a>
            </div>
        </form>
    </div>
</th:block>
</html>